.additionally__button {
  width: 280px;
  height: 40px;
}

.additionally__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additionally__column-first, .additionally__column-second {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.gift {
  width: 280px;
  height: 290px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.15), rgba(104, 183, 56, 0.15)), url("../../image/gift-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  display: block;
  align-items: center;
  text-align: center;
}


.gift__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff;
  max-width: 161px;
}
