.advantages {
  background-color: #ffffff;
}

.advantages__title {
  color: #000000;
  margin-left: 20px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    counter-reset: index;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    justify-items: center;
    counter-reset: index;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    min-height: 280px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: block;
    min-height: 280px;
  }
}

.advantages__item::after {
  @media (min-width: @tablet-width) {
    content: counters(index, ".", decimal) " ";
    counter-increment: index;
    position: absolute;
    top: -25px;
    right: 10px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    width: 120px;
  }

  @media (min-width: @desktop-width) {
    content: counters(index, ".", decimal) " ";
    counter-increment: index;
    position: absolute;
    top: -40px;
    right: 10px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    width: 120px;
  }
}

.advantages__item-one {
  @media (min-width: @tablet-width) {
    width: 230px;
    margin-right: 153px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-right: 94px;
    margin-left: 110px;
  }
}

.advantages__item-two {
  @media (min-width: @tablet-width) {
    width: 246px;
  }

  @media (min-width: @desktop-width) {
    width: 246px;
    margin-right: 79px;
  }
}

.advantages__item-three {
  @media (min-width: @tablet-width) {
    width: 248px;
    margin-right: 137px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 248px;
    margin-right: 77px;
  }
}

.advantages__item-four {
  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  background: #68b738;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.advantages__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    padding: 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 17px 15px;
    margin: 0;
  }
}

.advantages__desc {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  max-width: 200px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    margin-top: 31px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 31px;
    margin-left: 20px;
  }
}
