.promo-background {
  width: 320px;
  height: 302px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../image/background__licking-cat.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;

  @media (min-width: @tablet-width) {
    width: 709px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    z-index: 2;
    position: absolute;
    top: -167px;
    left: 700px;
    width: 720px;
    height: 696px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../image/background-desktop__licking-cat.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: right;
  }
}
