.example {
  background-color: #eaeaea;
  min-height: 659px;

  @media (min-width: @tablet-width) {
    min-height: 1040px;
  }

  @media (min-width: @desktop-width) {
    min-height: 598px;
  }
}

.example__list {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.result__title {
  color: #000000;
  padding-top: 25px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.result__desc {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 40px 20px 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
  }
}

.result__container {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.result__table {
  width: 280px;
  height: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.result__row-first {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.result__row-second {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  color: #444444;
}

.result__summ {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 66px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.slider {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.example__slider {
  display: flex;
}

.example__befor {
  position: absolute;
  width: 145px;
  height: 256px;
  overflow: hidden;
}

.example__after {
  position: absolute;
  margin-left: 140px;
  width: 145px;
  height: 256px;
  overflow: hidden;
}

.example__line {
  position: absolute;
  left: 140px;
  width: 4px;
  height: 256px;
  background: #666666;
  border-radius: 2px;
  z-index: 3;
}

.example__toggle {
  position: absolute;
  top: 110px;
  left: -20px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(../../image/slider-arrows.svg);
  background-repeat: no-repeat;
  background-position: 7px;
  border: 3px solid #666666;
}

.slider__image-befor {
  max-width: none;
}

.slider__image-after {
  position: absolute;
  right: 3px;
  max-width: none;
}
