.form-container {
  background-color: #ffffff;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}


.form__about-cat {
  min-height: 325px;

  @media (min-width: @tablet-width) {
    min-height: 470px;
  }

  @media (min-width: @desktop-width) {
    min-height: 200px;
  }
}

.container__about-cat {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.container__about-owner {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 74px 39px 20px;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

.input__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  min-width: 50px;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 65px;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 65px;
    margin-right: 20px;
  }
}

.input__name-telephon {
  min-width: 68px;

  @media (min-width: @tablet-width) {
    min-width: 85px;
  }

  @media (min-width: @desktop-width) {
    min-width: 85px;
  }
}

.input__name-cat-name {
  min-width: 39px;

  @media (min-width: @tablet-width) {
    min-width: 47px;
  }

  @media (min-width: @desktop-width) {
    min-width: 47px;
  }
}

.input__name-weight {
  min-width: 60px;

  @media (min-width: @tablet-width) {
    min-width: 75px;
  }

  @media (min-width: @desktop-width) {
    min-width: 75px;
  }
}

.input__name-years-old {
  min-width: 94px;

  @media (min-width: @tablet-width) {
    min-width: 117px;
  }

  @media (min-width: @desktop-width) {
    min-width: 117px;
  }
}


.input__text {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input__text-cat-name {
  width: 228px;
  height: 45px;
  padding: 13px 15px;

  @media (min-width: @tablet-width) {
    width: 570px;
    height: 52px;
    padding: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 509px;
    height: 52px;
    padding: 15px;
  }
}

.input__text-weight {
  width: 207px;
  height: 45px;
  padding: 13px 15px;

  @media (min-width: @tablet-width) {
    width: 542px;
    height: 52px;
    padding: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 481px;
    height: 52px;
    padding: 15px;
  }
}

.input__text-years-old {
  width: 173px;
  height: 45px;
  padding: 13px 15px;

  @media (min-width: @tablet-width) {
    width: 500px;
    height: 52px;
    padding: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 439px;
    height: 52px;
    padding: 15px;
  }
}

.input__text-e-mail {
  background-image: url(../../image/icon_email.svg);
  background-repeat: no-repeat;
  background-position: 185px 13px;
  width: 220px;
  height: 45px;
  padding: 14px 42px 13px 15px;

  @media (min-width: @tablet-width) {
    background-position: 513px 18px;
    width: 548px;
    height: 52px;
    padding: 15px 46px 15px 20px;
  }

  @media (min-width: @desktop-width) {
    background-position: 450px 15px;
    width: 486px;
    height: 52px;
    padding: 15px 40px 15px 20px;
  }
}

.input__text-telephon-number {
  box-sizing: border-box;
  background-image: url(../../image/phone-stroke.svg);
  background-repeat: no-repeat;
  background-position: 169px 13px;
  width: 202px;
  height: 45px;
  padding: 14px 42px 13px 15px;

  @media (min-width: @tablet-width) {
    background-position: 495px 18px;
    width: 529px;
    height: 52px;
    padding: 15px 46px 15px 20px;
  }

  @media (min-width: @desktop-width) {
    background-position: 432px 15px;
    width: 467px;
    height: 52px;
    padding: 15px 40px 15px 20px;
  }
}

.input__form {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 7px 20px 7px 0;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.input__e-mail {
  display: flex;
  border: 1px solid #cdcdcd;
  align-items: center;
}

.telephon-number {
  display: flex;
  border: 1px solid #cdcdcd;
  align-items: center;
}

.survey__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__data {
  margin: 46px 25px 46px 20px;

  @media (min-width: @tablet-width) {
    margin: 46px 55px 46px 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 46px 25px 46px 20px;
  }
}

.program {
  @media (min-width: @tablet-width) {
    padding: 40px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: @desktop-width) {
    padding: 40px;
    border: 1px solid #e7e7e7;
  }
}

.program__list {
  @media (min-width: @tablet-width) {
    min-width: 560px;
  }

  @media (min-width: @desktop-width) {
    min-width: 500px;
  }
}

.program__item {
  display: block;
}

.program__item:not(:last-child) {
  margin-bottom: 19px;
}

.control__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-left: 40px;
}

.program__control {
  position: relative;
  display: block;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.control__input[type="radio"] + .control__mark {
  border: 3px solid #cdcdcd;
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.control__input:checked + .control-mark {
  border: 3px solid #000000;
  border-radius: 50%;
}

.form__about-owner {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    min-height: 230px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    min-height: 200px;
  }
}

.form__subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 26px 113px 35px 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 26px 113px 35px 0;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 26px 113px 35px 0;
    z-index: 2;
  }
}

.form-container__comment {
  margin-left: 20px;
  margin-bottom: 25px;
}

.comment__subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 26px 113px 35px 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin-right: 60px;
    margin-bottom: 37px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin-right: 60px;
    margin-bottom: 37px;
    z-index: 2;
  }
}

textarea {
  resize: none;
  width: 280px;
  height: 150px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 174px;
  }
}

.comment__form {
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 174px;
  }
}

.form__additionally {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    min-height: 175px;
  }

  @media (min-width: @desktop-width) {
    min-height: 50px;
    margin: 67px 0 61px;
  }
}

.additionally__subtitle-form {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  margin-bottom: 37px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin-right: 60px;
    margin-bottom: 37px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin-right: 60px;
    margin-bottom: 37px;
    z-index: 2;
  }
}

.additionally__list-form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 57px 0 0;
  }
}

.additionally__item-form {
  display: block;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-right: 120px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding-right: 5px;
    margin-right: 70px;
  }
}

.additionally__control {
  position: relative;
  display: block;
}

.additionally__mark {
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}


.additionally__input[type="checkbox"]:checked + .additionally__mark::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 6px;
  background-image: url("../../image/tick_mark.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.additionally__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 40px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__button {
  max-width: 280px;
  height: 40px;
  text-align: center;
  padding: 8px 80px;

  @media (min-width: @tablet-width) {
    max-width: 282px;
    height: 52px;
    text-align: center;
    padding: 14px 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 568px;
    height: 52px;
    text-align: center;
    padding: 14px 200px;
    margin-bottom: 67px;
  }
}

.action {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 190px;
}

.post__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-left: 20px;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-left: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 84px;
  }
}

.main-footer__form {
  background: #f2f2f2;
}
