.main-header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  background: #ffffff;
  padding: 10px 0 18px;
}

.hedar__logo-picture {
  margin-left: 20px;
}

.header__burger {
  border: 1.5px solid #000000;
}
