.programs {
  min-width: 280px;
  min-height: 552px;
  background-color: #ffffff;
}

.programs__item-slim {
  padding: 21px 19px 22px 22px;
}


.programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 91px;
}

.programs__item-pro {
  padding: 24px 11px 22px 13px;
}

.programs__item {
  min-width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  margin: 20px;
}

.programs__images {
  margin: 0 20px;
}

.programs__slogan {
  margin: 0 43px 0 20px;
}

.programs__line {
  margin: 23px 20px 15px;
  width: 240px;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 20px;
  text-decoration: none;
}

