@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
.main-header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  min-height: 63px;
  padding: 10px 0 18px;
}
@media (min-width: 768px) {
  .main-header {
    width: 708px;
    min-height: 120px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1220px;
    min-height: 140px;
  }
}
.hedar__logo-picture {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .hedar__logo-picture img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hedar__logo-picture img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .logo-picture {
    background-image: url(../../image/logo-tablet.svg);
    width: 202px;
    height: 59px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
  }
}
.header__burger {
  border: 1.5px solid #000000;
}
.main-nav__wrapper {
  min-width: 320px;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1440px;
    justify-content: end;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 478px;
    z-index: 3;
  }
}
.main-nav__list a {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: #ffffff;
  width: 320px;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 1160px;
  margin: 0;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1220px;
  }
}
h1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
h2 {
  margin: 0;
  padding: 0;
  line-height: 0;
}
p {
  margin: 0;
  padding: 0;
}
.demarcation-line {
  border: 1px solid #d9d9d9;
}
.input__text {
  border-color: #e7e7e7;
}
.input__text--hover {
  border-color: #cdcdcd;
}
.input__text--focus {
  border-color: #000000;
  border-width: 2px;
}
.input__text--error {
  border-color: #ff0000;
  border-width: 2px;
}
.promo {
  min-width: 320px;
  min-height: 480px;
}
@media (min-width: 768px) {
  .promo {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .promo {
    position: relative;
  }
}
.promo__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 62px 237px 0 117px;
    min-width: 420px;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    position: absolute;
    top: 40px;
    left: -380px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    min-width: 420px;
    max-width: 440px;
  }
}
.promo__slogan {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .promo__slogan {
    z-index: 2;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
.promo__images {
  margin: 25px 0 3px;
}
@media (min-width: 768px) {
  .promo__images {
    margin: 30px 30px 0;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1200px) {
  .promo__images {
    position: absolute;
    top: 50px;
    left: -120px;
    width: 530px;
    height: 470px;
  }
}
.promo__button {
  padding: 10px 73px;
  margin: 20px;
}
@media (min-width: 768px) {
  .promo__button {
    position: absolute;
    top: 300px;
    left: 500px;
    z-index: 2;
    width: 224px;
    height: 54px;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .promo__button {
    width: 224px;
    height: 54px;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .promo__button-text {
    display: block;
    margin: 17px;
  }
}
@media (min-width: 1200px) {
  .promo__button-text {
    display: block;
    margin: 17px;
  }
}
h2 {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
html {
  height: 100%;
}
.button {
  cursor: pointer;
  text-decoration: none;
  background: #68b738;
  border: none;
}
.button__text {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .button__text {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .button__text {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
.promo-background {
  width: 320px;
  height: 302px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../image/background__licking-cat.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
}
@media (min-width: 768px) {
  .promo-background {
    width: 709px;
    background-image: none;
  }
}
@media (min-width: 1200px) {
  .promo-background {
    z-index: 2;
    position: absolute;
    top: -167px;
    left: 700px;
    width: 720px;
    height: 696px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../image/background-desktop__licking-cat.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: right;
  }
}
.programs {
  min-width: 280px;
  min-height: 552px;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .programs__list {
    display: flex;
    justify-content: space-between;
  }
}
.programs__item {
  min-width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  margin: 20px;
}
@media (min-width: 768px) {
  .programs__item {
    width: 708px;
    min-height: 372px;
  }
}
@media (min-width: 1200px) {
  .programs__item {
    min-width: 570px;
    min-height: 374px;
    margin-top: 130px;
  }
}
.programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 91px;
}
.programs__item-slim {
  position: relative;
  padding: 21px 19px 22px 22px;
}
@media (min-width: 768px) {
  .programs__item-slim {
    margin-top: 320px;
  }
}
.programs__item-pro {
  position: relative;
  padding: 24px 11px 22px 13px;
}
@media (min-width: 768px) {
  .programs__item-pro {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .programs__images-slim {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1200px) {
  .programs__images-slim {
    width: 100px;
    height: 106px;
  }
}
@media (min-width: 768px) {
  .programs__images-pro {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .programs__images-pro {
    width: 134px;
    height: 100px;
  }
}
.programs__slogan {
  margin: 0 43px 0 20px;
}
.programs__line {
  margin: 23px 20px 15px;
  width: 240px;
}
.programs__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 20px;
  text-decoration: none;
}
.advantages {
  background-color: #ffffff;
}
.advantages__title {
  color: #000000;
  margin-left: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
  }
}
.advantages__item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .advantages__item {
    min-height: 280px;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    display: block;
    min-height: 280px;
  }
}
@media (min-width: 768px) {
  .advantages__item-one {
    width: 230px;
    margin-right: 153px;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-one {
    width: 230px;
    margin-right: 94px;
    margin-left: 110px;
  }
}
@media (min-width: 768px) {
  .advantages__item-two {
    width: 246px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-two {
    width: 246px;
    margin-right: 79px;
  }
}
@media (min-width: 768px) {
  .advantages__item-three {
    width: 248px;
    margin-right: 137px;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-three {
    width: 248px;
    margin-right: 77px;
  }
}
@media (min-width: 768px) {
  .advantages__item-four {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-four {
    width: 250px;
  }
}
.advantages__icon {
  width: 60px;
  height: 60px;
  background: #68b738;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .advantages__icon {
    padding: 0 20px;
  }
}
.advantages__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.advantages__desc {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  max-width: 200px;
}
.example {
  background-color: #eaeaea;
  min-height: 659px;
}
@media (min-width: 768px) {
  .example {
    min-height: 1040px;
  }
}
@media (min-width: 1200px) {
  .example {
    min-height: 598px;
  }
}
@media (min-width: 1200px) {
  .example__list {
    display: flex;
  }
}
.result__title {
  color: #000000;
  padding-top: 25px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .result__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .result__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.result__desc {
  padding: 40px 20px 20px;
}
@media (min-width: 768px) {
  .result__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .result__desc {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
  }
}
.result__table {
  width: 280px;
  height: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.result__row-first {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.result__row-second {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  color: #444444;
}
.result__summ {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 66px;
}
.slider {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.example__slider {
  display: flex;
}
.example__befor {
  position: absolute;
  width: 145px;
  height: 256px;
  overflow: hidden;
}
.example__after {
  position: absolute;
  margin-left: 140px;
  width: 145px;
  height: 256px;
  overflow: hidden;
}
.example__line {
  position: absolute;
  left: 140px;
  width: 4px;
  height: 256px;
  background: #666666;
  border-radius: 2px;
  z-index: 3;
}
.example__toggle {
  position: absolute;
  top: 110px;
  left: -20px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(../../image/slider-arrows.svg);
  background-repeat: no-repeat;
  background-position: 7px;
  border: 3px solid #666666;
}
.slider__image-befor {
  max-width: none;
}
.slider__image-after {
  position: absolute;
  right: 3px;
  max-width: none;
}
.main-footer {
  background-color: #ffffff;
}
.contacts__text {
  display: flex;
  justify-content: space-between;
  margin: 26px 20px;
}
.contacts__invite {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.contacts__adress {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.logo-name__link-footer {
  display: flex;
  justify-content: center;
}
.footer__top-line {
  margin: 32px 20px 20px;
  width: 280px;
}
.footer__bottom-line {
  margin: 21px 20px 22px;
  width: 280px;
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.social__item {
  margin: 0 12px;
}
.copyright__link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}
.form-container {
  background-color: #ffffff;
}
.form__title {
  margin-left: 20px;
}
.form__about-cat {
  min-height: 325px;
}
@media (min-width: 768px) {
  .form__about-cat {
    min-height: 470px;
  }
}
@media (min-width: 1200px) {
  .form__about-cat {
    display: flex;
    min-height: 200px;
  }
}
.form__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 74px 39px 20px;
}
.input__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}
.input__text {
  box-sizing: border-box;
  width: 220px;
  height: 45px;
}
.input__form {
  display: flex;
  align-items: center;
  width: 810px;
  margin: 7px 20px 7px 0;
}
.survey__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form__data {
  margin: 46px 25px 46px 20px;
}
.program__item:not(:last-child) {
  margin-bottom: 19px;
}
.control__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-left: 40px;
}
.program__control {
  position: relative;
  display: block;
}
.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.control__input[type="radio"] + .control__mark {
  border: 3px solid #cdcdcd;
  border-radius: 50%;
}
.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
.control__input:checked + .control-mark {
  border: 3px solid #000000;
  border-radius: 50%;
}
.form__about-owner {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .form__about-owner {
    min-height: 230px;
  }
}
@media (min-width: 1200px) {
  .form__about-owner {
    display: flex;
    min-height: 200px;
  }
}
.form__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 26px 113px 35px 0;
}
.form-container__comment {
  margin-left: 20px;
}
.comment__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 26px 113px 35px 0;
}
textarea {
  resize: none;
  width: 280px;
  height: 150px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  textarea {
    width: 631px;
    height: 174px;
  }
}
@media (min-width: 1200px) {
  textarea {
    width: 1220px;
    height: 174px;
  }
}
.comment__form {
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .comment__form {
    width: 631px;
    height: 174px;
  }
}
@media (min-width: 1200px) {
  .comment__form {
    width: 1220px;
    height: 174px;
  }
}
.form__additionally {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .form__additionally {
    min-height: 175px;
  }
}
@media (min-width: 1200px) {
  .form__additionally {
    min-height: 50px;
  }
}
.additionally__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 26px 113px 35px 0;
}
@media (min-width: 768px) {
  .additionally__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .additionally__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.additionally__item {
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .additionally__item {
    width: 230px;
    margin-right: 120px;
  }
}
.additionally__control {
  position: relative;
  display: block;
}
.additionally__mark {
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
.additionally__input[type="checkbox"]:checked + .additionally__mark::before {
  position: absolute;
  top: 1px;
  left: 1px;
  background-image: url("../../image/tick_mark.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  width: 26px;
  height: 26px;
}
.additionally__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 40px;
}
.form__button {
  width: 280px;
  height: 40px;
  text-align: center;
  padding: 8px 80px;
}
@media (min-width: 768px) {
  .form__button {
    width: 282px;
    height: 52px;
    text-align: center;
    padding: 14px 60px;
  }
}
@media (min-width: 1200px) {
  .form__button {
    width: 568px;
    height: 52px;
    text-align: center;
    padding: 14px 200px;
  }
}
.action {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.post__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-left: 20px;
}
.main-footer__form {
  background: #f2f2f2;
}
.products {
  margin-left: 20px;
}
.products__list {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 19px;
}
@media (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
}
@media (min-width: 1200px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}
.all-catalog__plus {
  display: block;
  margin: 36px 146px 23px 124px;
  border: none;
  background-color: #ffffff;
}
.all-catalog__show {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0 38px 8px;
}
.all-catalog__text {
  text-align: center;
  color: #444444;
  margin-bottom: 21px;
}
.products__button {
  width: 280px;
  height: 40px;
}
.all-catalog__button {
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
}
.additionally__button {
  width: 280px;
  height: 40px;
}
@media (min-width: 768px) {
  .additionally__button {
    width: 632px;
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .additionally__button {
    width: 244px;
    height: 40px;
  }
}
.additionally__wrapper {
  min-height: 905px;
}
@media (min-width: 768px) {
  .additionally__wrapper {
    min-height: 942px;
  }
}
@media (min-width: 1200px) {
  .additionally__wrapper {
    min-height: 406px;
  }
}
@media (min-width: 1200px) {
  .additionally__subwrapper {
    display: flex;
    justify-content: space-around;
  }
}
.additionally__title {
  color: #000000;
}
@media (min-width: 768px) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .additionally__item {
    display: flex;
  }
}
.additionally__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additionally__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .additionally__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}
.additionally__column-first,
.additionally__column-second {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.gift {
  width: 280px;
  height: 290px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.15), rgba(104, 183, 56, 0.15)), url("../../image/gift-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  display: block;
  align-items: center;
  text-align: center;
}
.gift__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff;
  max-width: 161px;
}
/*# sourceMappingURL=style.css.map */
